

h1 {
    text-align: center;
    color: aliceblue;
}


img {
    position: relative;
    outline-color: aqua;
    border-radius: 20%;
    border-color: brown;
    border-width: 10px;
    border-style: groove;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

p {
    text-align: justify;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
}



.container {
    width: 800px;
    background-color: brown;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10%;
    margin:10% auto;
    
}