body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 1%;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: transparent; 
    background-image: linear-gradient(45deg, #ff0000 25%, #ffffff 25%, #ffffff 50%, #ff0000 50%, #ff0000 75%, #ffffff 75%, #ffffff); 
    -webkit-background-clip: text; 
    background-clip: text;
}



.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.cat-info {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.cat-info:hover {
    transform: translateY(-5px);
}

.cat-info img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cat-info p {
    margin-top: 10px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

#alertBtn {
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

